﻿@model BookStoreOnion.Models.AuthorViewModel

@{
    ViewData["Title"] = "Create";
}


<h3 class="center">Add Author</h3>

<div class="row">
    <div class="form">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" ></div>

            <label asp-for="Name" ></label>
            <input asp-for="Name"  />
            <span asp-validation-for="Name"></span>

            <label asp-for="Address" ></label>
            <input asp-for="Address"  />
            <span asp-validation-for="Address" ></span>

            <label asp-for="AuthorImage" ></label>
            <input asp-for="AuthorImage" >
            <span asp-validation-for="Address" ></span>

            <input type="submit" value="Save"  />
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

