﻿@model BookStoreOnion.Models.AuthorViewModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete an Author</h1>

<h3>Are you sure you want to delete this?</h3>

<div class="row">
    <div style="float: left">
        <div class="image">
            <img src="@Model.AuthorImageUrl" alt="Book Cover Image" height="300px">
        </div>
    </div>
    <div style="float: left">
        <div class="details">
            <p><b>Author Name:</b> @Html.DisplayFor(model => model.Name)</p>

            <p><b>Author Location:</b>@Html.DisplayFor(model => model.Address)</p>

            <p><b>Author Books:</b></p>
            <ul>
                @foreach (var book in Model.Books)
                {
                    <li><a asp-controller="Book" asp-action="Details" asp-route-id="@book.Id">@book.Title</a></li>
                }
            </ul>
        </div>
    </div>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn delete-btn" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>


<div>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AuthorImage)
        </dt>
        <dd class="col-sm-10">
            <img src="@Model.AuthorImageUrl" alt="Book Cover Image" height="150">
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        
    </dl>
    
    
</div>
