﻿@model BookStoreOnion.Models.AuthorViewModel

@{
    ViewData["Title"] = "Author Details";
}

<h3>Author Details</h3>


<div class="row">
    <div style="float: left">
        <div class="image">
            <img src="@Model.AuthorImageUrl" alt="Book Cover Image" height="300px">
        </div>
    </div>
    <div style="float: left">
        <div class="details">
            <p><b>Author Name:</b> @Html.DisplayFor(model => model.Name)</p>

            <p><b>Author Location:</b>@Html.DisplayFor(model => model.Address)</p>

            <p><b>Author Books:</b></p>
            <ul>
                @foreach (var book in Model.Books)
                {
                    <li><a asp-controller="Book" asp-action="Details" asp-route-id="@book.Id">@book.Title</a></li>
                }
            </ul>
        </div>
    </div>
</div>


<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
