﻿@model IEnumerable<BookStoreOnion.Models.AuthorViewModel>

@{
    ViewData["Title"] = "Index";
}

<div class="center">
    <h3>List of Authors</h3>
    <a class="button add-btn" asp-action="Create">Add New Author</a>
</div>


<div>
    @foreach (var item in Model)
    {
        <div class="row">
            <div class="columnAuth">
                @Html.DisplayFor(modelItem => item.Name)
            </div>
            <div class="columnAuth">
                @Html.DisplayFor(modelItem => item.Address)
            </div>
            <div class="columnAuth">
                <img src="@item.AuthorImageUrl" alt="Author Image" height="150">
            </div>
            <div class="columnAuth">
                <a class="btn edit-btn" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a class="btn details-btn" asp-action="Details" asp-route-id="@item.Id">Details</a>
                <a class="btn delete-btn" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </div>
        </div>
    }
</div>
