﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BookStore</title>
    <link rel="icon" type="image/x-icon" href="~/favicon.ico">
    <link rel="stylesheet" href="~/css//custom.css"/>
</head>
<body>
    <header>
        <ul>
            <li><a asp-area="" asp-controller="Book" asp-action="Index" class="active">Home</a></li>
            <li><a asp-area="" asp-controller="Book" asp-action="Index">Books</a></li>
            <li><a asp-area="" asp-controller="Author" asp-action="Index">Authors</a></li>
        </ul>
    </header>
    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
