﻿@model BookStoreOnion.Models.BookViewModel

@{
    ViewData["Title"] = "Book Details";
}

<h3 class="center">Book Details</h3>

<div class="row">
    <div style="float: left">
        <div class="image">
            <img src="@Model.BookImageUrl" alt="Book Cover Image" height="300">
        </div>
    </div>
    <div style="float: left">
        <div class="details">
            <p><b>Book Name:</b> @Html.DisplayFor(model => model.Title)</p>
    
            <p><b>Book Language:</b>@Html.DisplayFor(model => model.Language)</p>
           
            <p><b>Author:</b>@Html.ActionLink(Model.Author.Name, "Details", "Author", new { id = Model.Author.Id }, null)</p>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
