﻿@model BookStoreOnion.Models.BookViewModel

@{
    ViewData["Title"] = "Edit";
    var Authors = ViewBag.Authors;
}

<h3 class="center">Edit Book</h3>


<div class="row">
    <div class="form">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" ></div>
            <input type="hidden" asp-for="Id" />

            
            <label asp-for="Title" ></label>
            <input asp-for="Title"  />
            <span asp-validation-for="Title" ></span>
            
            
            <label asp-for="Language" ></label>
            <input asp-for="Language"  />
            <span asp-validation-for="Language" ></span>
            
            
            <label asp-for="BookImage" ></label>
            <input asp-for="BookImage"  />
            <span asp-validation-for="BookImage" ></span>
            <br />
            
            
            <label asp-for="AuthorId" ></label>
            <select asp-for="AuthorId"  asp-items="Authors"></select>
            <span asp-validation-for="AuthorId" ></span>
            
            
            <input type="submit" value="Save" />
            
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

