﻿@model IEnumerable<BookStoreOnion.Models.BookViewModel>

@{
    ViewData["Title"] = "Index";
}
<div class="center">
    <h3>List of Books</h3>
    <a class="button add-btn" asp-action="Create">Add New Book</a>
</div>

<div>
    @foreach (var item in Model) {
        <div class="row">
            <div class="column">
                @Html.DisplayFor(modelItem => item.Title)
            </div>
            <div class="column">
                @Html.DisplayFor(modelItem => item.Language)
            </div>
            <div class="column">
                <img src="@item.BookImageUrl" alt="Book Cover Image" height="150">
            </div>
            <div class="column">
                @Html.DisplayFor(modelItem => item.Author.Name)
            </div>
            <div class="column">
                <a class="btn edit-btn" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a class="btn details-btn" asp-action="Details" asp-route-id="@item.Id">Details</a>
                <a class="btn delete-btn" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </div>
        </div>
    }
</div>