﻿@model BookStoreOnion.Models.BookViewModel

@{
    ViewData["Title"] = "Delete";
}

<h3>Delete Book</h3>

<h3>Are you sure you want to delete this?</h3>

<div class="row">
    <div style="float: left">
        <div class="image">
            <img src="@Model.BookImageUrl" alt="Book Cover Image" height="300">
        </div>
    </div>
    <div style="float: left">
        <div class="details">
            <p><b>Book Name:</b> @Html.DisplayFor(model => model.Title)</p>

            <p><b>Book Language:</b>@Html.DisplayFor(model => model.Language)</p>

            <p><b>Author:</b>@Html.DisplayFor(model => model.Author.Name)</p>
        </div>
    </div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>

