﻿h3{
    font-size: 300%;
}

.button {
    display: block;
    width: 150px;
    height: 30px;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    color: white;
    line-height: 25px;
    text-decoration: none;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.container{
    max-width: 1200px;
    margin: auto;
}

.btn {
    border: none;
    color: white;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.add-btn {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}

    .add-btn:hover {
        background-color: #4CAF50;
        color: white;
    }

.edit-btn{
    background-color: coral;
    
}

.delete-btn {
    background-color: red;
    
}

.details-btn {
    background-color: dodgerblue;
    
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

header li {
    float: left;
    border-right: 1px solid #bbb;
}

   header li:last-child {
        border-right: none;
    }

    header li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        li a:hover:not(.active) {
            background-color: #111;
        }

.active {
    background-color: #04AA6D;
}



/* Create four equal columns that floats next to each other */
.column {
    float: left;
    width: 18%;
    padding: 10px;
    height: 150px; /* Should be removed. Only for demonstration */
}

.columnAuth {
    float: left;
    width: 23%;
    padding: 10px;
    height: 150px; /* Should be removed. Only for demonstration */
}


.row {
    background-color: lightyellow;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.center{
    text-align: center;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

    input[type=submit]:hover {
        background-color: #45a049;
    }

.form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.left{
    float: left;
}

.right{
    float: left;
}

.image{
    padding: 10px;
    margin-right: 50px;
}

.details{
    padding: 10px;
}